
.body__container {
    display: flex;
    flex-flow: column nowrap;
}
.parallax {
    position: relative;
    height: auto;
    display: flex;
    min-height: 100vh;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.intro__Container {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: $color-black-lighter;
}
.intro__Image {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://www.hdwallpapers.in/walls/autumn_bench-HD.jpg');
    transform: scale(1.15);
    transition: transform 0.3s linear;

    &.--show-image {
        // animation: swap-bg-image 0.4s linear;
        // animation-fill-mode: forwards;
        transform: scale(1);
        transition: transform 0.3s linear;
    }
}

.intro__inner__Container {
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    z-index: 2;
}

.intro__Mask {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s linear;
    background-color: $color-black-lighter;

    &.--show-image {
        // animation: mask-on 0.3s linear;
        // animation-fill-mode: forwards;
        background-color: transparent;
        transition: background-color 0.3s linear;
    }
}
.row1, .row2, .row3 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    h1 {
        cursor: crosshair;
        text-transform: uppercase;
        flex-grow: 0;
        flex-shrink: 0;
        margin: auto 0;
        transition: color 0.5s ease-out, transform 0.3s ease-in-out;
        letter-spacing: 0.5rem;

        &:hover {
            color: $color-blue-light;
            transition: color 0.5s ease-out, transform 0.3s ease-in-out;
            transform: scale(1.1);
        }

        @include tablet {
            font-size: $font-mxxl;
        }
        @include mobile {
            // font-size: 200%;
        }
    
    }
    
    
    h2 {
        cursor: crosshair;
        flex-grow: 0;
        flex-shrink: 0;
        margin: auto 0;
        font-weight: 300;
        font-style: italic;
        transition: color 0.5s ease-out, transform 0.3s ease-in-out;
        &:hover {
            color: $color-blue-light;
            transition: color 0.5s ease-out, transform 0.3s ease-in-out;
            transform: scale(1.1);
        }

        @include tablet {
            font-size: $font-mxl;
        }
        @include mobile {
            // font-size: 150%;
        }

    }
    @include desktop {
        flex-flow: column nowrap;
        align-items: flex-start;
    }
}

.title__bar {
    display: flex;
    margin: 1rem 0;
}
.bar__Container {
    height: auto;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;

    span {
        height: 4px;
        padding: 0 2rem;
        border-radius: 2px;
        background: white;
        transition: padding 0.5s ease;
        @include tablet {
            padding: 0 1.5rem;
        }
        @include tablet {
            padding: 0 0.8rem;
        }
    }

    
}
.non__Parallax-Container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    
    &.--about {
        background-color: $color-blue-light;
    }
    &.--experience {
        background-color: #008080;
    }
    &.--musicwork {
        background-color: #094540;
    }
}
.non__Parallax {
    display: flex;
    flex-flow: column nowrap;
    margin: 4rem 2rem;
    color: white;
    align-items: center;

    p:first-child {
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        text-align: justify;
        z-index: 1;
        color: black;

        @include tablet {
            font-size: $font-ms;
        }
    }
    h3 {
        text-align: center;
        z-index: 1;
        font-weight: 300;
        @include tablet {
            font-size: $font-ml;
        }
   
    }
    h4 {
        text-align: center;

        @include tablet {
            font-size: $font-mm;
        }
    }
}


.parallax__Name, .parallax__Skill, .parallax__Music, .parallax__MusicWork, .parallax__ContactMe {
    display: flex;
    flex-flow: column nowrap;
    margin: 2rem;
    color: white;

    h1 {
        padding: 1rem;
        text-align: center;
        z-index: 1;
        opacity: 0;
        transform: translateX(calc((100vw - 100%) / 2 - 100%));

        &.animate {
            transform: translateX(0);
            opacity: 1.0;
            transition: opacity 2.5s ease, transform 1.5s ease;
        }

        @include desktop {
            // font-size: 300%;
        }
        @include tablet {
            // font-size: 200%;
        }
    }

    h3 {
        @include tablet {
            // font-size: 150%;
        }
    }
    h4 {
        @include tablet {
            // font-size: 130%;
        }
    }
}
.parallax__ContactMe {
    width: 750px;

    @include desktop {
        width: 75%;
    }
    @include tablet {
        width: 80%;
    }
    @include mobile {
        width: 95%;
    }

}
.parallax__Container {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    z-index: -1;
    transform: translateZ(0);

    &.--skill {
        filter: opacity(0.8);
        transform: scale(1.01);
    }
    &.--name {
        filter: opacity(0.9) grayscale(100%);
        transform: scale(1.01);
    }
    &.--music {
        filter: opacity(0.8) grayscale(10%);
        transform: scale(1.01);
    }
    &.--contactMe {
        filter: opacity(0.7) blur(4px) ;
        transform: scale(1.01);
    }

    @include desktop {
        background-attachment: scroll;
    }

}
.section1__AngleRight {
    fill: white;
    margin-left: 2rem;
    transition: margin-left 0.5s, transform 0.7s;

    &.animate {
        margin-left: 4rem;
        transform: scale(2) rotate(360deg);
        fill: $color-red-light;
    }
}

.outLink  {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.8rem 0 0 0;

}
.outlinks__Container {
    text-align: justify;
    margin-right: auto;
    display: flex;
    flex-flow: column nowrap;

    &.--linkedin__Container {
        margin-top: 2.5rem;
    }
    &.--vidcredit__Container {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 1rem 1rem 0.5rem 0;

        @include tablet {
            .outlink__Title {
                width: auto;
            }
            .section1__AngleRight {
                display: none;
            }
        }
    }
}

.experience__Tools {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    cursor: crosshair;
    
    .tools:last-of-type {
        .tools__Bar {
            display: none;
        }
    }

    .tools__Bar {
        height: 8px;
        width: 8px;
        border-radius: 8px;
        background: white;
        margin-left: 0.8rem;

        @include tablet {
            display: none;
        }
    }

}
.tools {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-right: 0.8rem;

}
.tools__subHeading {
    margin-bottom: 2rem;
    @include tablet {
        font-size: $font-ms;
    }
}
.musicWork__title {
    margin-top: 0;
    color: $color-red-light;

}
.tools__Title {
    font-weight: 300;
    font-style: italic;
    @include tablet {
        font-size: $font-ms;
    }
}
.outlink__Title {
    text-align: justify;
    z-index: 1;
    width: 8rem;
    font-weight: 300;
    font-style: italic;

    @include tablet {
        font-size: $font-ms;
    }
}
.contactMe__legend {
    padding: 0 1rem;

    h3 {
        @include tablet {
            font-size: $font-ml;
        }
    }
   
}

@keyframes swap-bg-image {
    0% { transform: scale(1.1);}
    100% { transform: scale(1);}
}
  
@keyframes mask-on {
    0% { background-color: lighten(black, 15%);}
    100% { background-color: transparent}
}
  