.Nav__container {
    display: flex;
    flex-flow: row nowrap;
    background-color: lighten(black, 10%);
    height: 60px;
    z-index: 3;
    position: fixed;
    top: 0;
    transition: all 0.6s ease-in-out, background-color 0.4s ease-in;
    width: 100%;

    &.--isVisible {
        top: -60px;
    }
    &.--isTransparent {
        background-color: transparent;
    }
    .hamburger__Container:last-child {
        margin-left: auto;
    }

    @include tablet {
        width: 50%;
        right: -50%;
        flex-flow: column wrap;
        height: 100%;
        justify-content: center;
        background-color: #094540;
        opacity: 1;

        &.--slideOut {
            right: 0%;
            transition: right 0.4s linear;
        }
        &.--isVisible {
            top: 0;
        }
        &.--isTransparent {
            opacity: 0.9;
            background-color: #094540;
        }
    }

    @include mobile {

        &.--slideOut {
            width: 100%;
            opacity: 0.9;
        }
    }
}

.navbar__Title {
    padding: 1rem 0;
    margin: 0 1.5rem;
    flex: 0 0 4rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: white;
    letter-spacing: 0.1rem;
    border-top: 4px solid transparent;
    font-weight: 400;
    cursor: pointer;
    transform: translateX(100%);
    transition: border-top-color 0.3s ease-in, transform 0.8s ease-in-out;
    text-align: center;

    &:hover {
        border-top-color: $color-blue-light;
        transition: border-top-color 0.3s ease-in;
    }

    @include tablet {
        &.--slideOut {
            transform: translateX(0);
            @for $i from 1 through 5 {
                &:nth-child(#{$i}){
                    transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1) #{($i * 50) + 300}ms;
                }
            }
            //transition: transform 1s ease-out;
        }
        &:hover {
            border-top-color: transparent;
            color: $color-blue-light;
        }
    }
    
}
.navbar__Hamburger {
    position: fixed;
    top: 0;
    right: 0;
    height: 60px;
    padding: 0.3rem;
    display: none;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    cursor: pointer;
    
    @include tablet {
        display: flex;
    }

}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: white;
    transition: 0.4s;
   
}
.animateBars .bar1 {
    transform: rotate(-45deg) translate(-11px, 6px);
}
.animateBars .bar2 {opacity: 0;}

.animateBars .bar3 {
    transform: rotate(45deg) translate(-13px, -10px);
}
