.Nav__container {
    display: flex;
    flex-flow: row nowrap;
    background-color: lighten(black, 10%);
    height: 60px;
    z-index: 4;
    position: fixed;
    top: 0;
    transition: top 0.5s, background-color 0.4s;
    width: 100%;

    &.--isVisible {
        top: -60px;
    }
    &.--isTransparent {
        background-color: transparent;
    }
    .hamburger__Container:last-child {
        margin-left: auto;
    }

}

.navbar__Title {
    padding: 1rem 0;
    margin: 0 1.5rem;
    flex: 0 0 4rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: white;
    letter-spacing: 0.1rem;
    border-top: 4px solid transparent;
    font-weight: 400;
    display: block;
    cursor: pointer;

    &:hover {
        border-top-color: $color-blue-light;
        transition: all 0.3s ease-in;
    }
    @include tablet {
        display: none;
    }
}
.navbar__Hamburger {
    height: 100%;
    padding: 0.3rem;
    display: none;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    cursor: pointer;

    @include tablet {
        display: flex;
    }

}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 4px;
    background-color: white;
    transition: 0.4s;
   
}
.animateBars .bar1 {
    transform: rotate(-45deg) translate(-11px, 6px);
}
.animateBars .bar2 {opacity: 0;}

.animateBars .bar3 {
    transform: rotate(45deg) translate(-13px, -10px);
}
