@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,700");
h1 {
  font-size: 3.998em; }

h2 {
  font-size: 2.827em; }

h3 {
  font-size: 1.999em; }

h4 {
  font-size: 1.414em; }

p.xs {
  font-size: 0.707em; }

p, span, label, button, input, textarea {
  font-size: 1em; }

* {
  font-family: Merriweather, "Trebuchet MS", Arial, sans-serif;
  box-sizing: border-box;
  text-decoration: none; }

body {
  margin: 0;
  padding: 0;
  line-height: 1.45;
  font-size: 1em; }

.Nav__container {
  display: flex;
  flex-flow: row nowrap;
  background-color: #1a1a1a;
  height: 60px;
  z-index: 3;
  position: fixed;
  top: 0;
  transition: all 0.6s ease-in-out, background-color 0.4s ease-in;
  width: 100%; }
  .Nav__container.--isVisible {
    top: -60px; }
  .Nav__container.--isTransparent {
    background-color: transparent; }
  .Nav__container .hamburger__Container:last-child {
    margin-left: auto; }
  @media (max-width: 768px) {
    .Nav__container {
      width: 50%;
      right: -100%;
      flex-flow: column wrap;
      height: 100%;
      justify-content: center;
      background-color: #094540;
      opacity: 1; }
      .Nav__container.--slideOut {
        right: 0;
        transition: right 0.4s linear; }
      .Nav__container.--isVisible {
        top: 0; }
      .Nav__container.--isTransparent {
        opacity: 0.9;
        background-color: #094540; } }
  @media (max-width: 425px) {
    .Nav__container {
      width: 100%; }
      .Nav__container.--slideOut {
        opacity: 0.9;
        right: 0; } }

.navbar__Title {
  padding: 1rem 0;
  margin: 0 1.5rem;
  flex: 0 0 4rem;
  text-transform: uppercase;
  font-size: 0.707em;
  color: white;
  letter-spacing: 0.1rem;
  border-top: 4px solid transparent;
  font-weight: 400;
  cursor: pointer;
  transform: translateX(100%);
  transition: border-top-color 0.3s ease-in, transform 0.8s ease-in-out;
  text-align: center; }
  .navbar__Title:hover {
    border-top-color: #6666ff;
    transition: border-top-color 0.3s ease-in; }
  @media (max-width: 768px) {
    .navbar__Title.--slideOut {
      transform: translateX(0); }
      .navbar__Title.--slideOut:nth-child(1) {
        transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1) 350ms; }
      .navbar__Title.--slideOut:nth-child(2) {
        transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1) 400ms; }
      .navbar__Title.--slideOut:nth-child(3) {
        transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1) 450ms; }
      .navbar__Title.--slideOut:nth-child(4) {
        transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1) 500ms; }
      .navbar__Title.--slideOut:nth-child(5) {
        transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1) 550ms; }
    .navbar__Title:hover {
      border-top-color: transparent;
      color: #6666ff; } }

.navbar__Hamburger {
  position: fixed;
  top: 0;
  right: 0;
  height: 60px;
  padding: 0.8rem;
  display: none;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  cursor: pointer; }
  @media (max-width: 768px) {
    .navbar__Hamburger {
      display: flex; } }

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 4px;
  background-color: white;
  transition: 0.4s; }

.animateBars .bar1 {
  transform: rotate(-45deg) translate(-2px, 13px); }

.animateBars .bar2 {
  opacity: 0; }

.animateBars .bar3 {
  transform: rotate(45deg) translate(-1px, -12px); }

.body__container {
  display: flex;
  flex-flow: column nowrap; }

.parallax {
  position: relative;
  height: auto;
  display: flex;
  min-height: 100vh;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

.intro__Container {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #1a1a1a; }

.intro__Image {
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://www.hdwallpapers.in/walls/autumn_bench-HD.jpg");
  transform: scale(1.15);
  transition: transform 0.3s linear; }
  .intro__Image.--show-image {
    transform: scale(1);
    transition: transform 0.3s linear; }

.intro__inner__Container {
  width: 80%;
  display: flex;
  flex-flow: column wrap;
  z-index: 2; }

.intro__Mask {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s linear;
  background-color: #1a1a1a; }
  .intro__Mask.--show-image {
    background-color: transparent;
    transition: background-color 0.3s linear; }

.row1, .row2, .row3 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start; }
  .row1 h1, .row2 h1, .row3 h1 {
    cursor: crosshair;
    text-transform: uppercase;
    flex-grow: 0;
    flex-shrink: 0;
    margin: auto 0;
    transition: color 0.5s ease-out, transform 0.3s ease-in-out;
    letter-spacing: 0.5rem; }
    .row1 h1:hover, .row2 h1:hover, .row3 h1:hover {
      color: #6666ff;
      transition: color 0.5s ease-out, transform 0.3s ease-in-out;
      transform: scale(1.1); }
    @media (max-width: 768px) {
      .row1 h1, .row2 h1, .row3 h1 {
        font-size: 2.441em; } }
  .row1 h2, .row2 h2, .row3 h2 {
    cursor: crosshair;
    flex-grow: 0;
    flex-shrink: 0;
    margin: auto 0;
    font-weight: 300;
    font-style: italic;
    transition: color 0.5s ease-out, transform 0.3s ease-in-out; }
    .row1 h2:hover, .row2 h2:hover, .row3 h2:hover {
      color: #6666ff;
      transition: color 0.5s ease-out, transform 0.3s ease-in-out;
      transform: scale(1.1); }
    @media (max-width: 768px) {
      .row1 h2, .row2 h2, .row3 h2 {
        font-size: 1.953em; } }
  @media (max-width: 1024px) {
    .row1, .row2, .row3 {
      flex-flow: column nowrap;
      align-items: flex-start; } }

.title__bar {
  display: flex;
  margin: 1rem 0; }

.bar__Container {
  height: auto;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem; }
  .bar__Container span {
    height: 4px;
    padding: 0 2rem;
    border-radius: 2px;
    background: white;
    transition: padding 0.5s ease; }
    @media (max-width: 768px) {
      .bar__Container span {
        padding: 0 1.5rem; } }
    @media (max-width: 768px) {
      .bar__Container span {
        padding: 0 0.8rem; } }

.non__Parallax-Container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center; }
  .non__Parallax-Container.--about {
    background-color: #6666ff; }
  .non__Parallax-Container.--experience {
    background-color: #008080; }
  .non__Parallax-Container.--musicwork {
    background-color: #094540; }

.non__Parallax {
  display: flex;
  flex-flow: column nowrap;
  margin: 4rem 2rem;
  color: white;
  align-items: center; }
  .non__Parallax p:first-child {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    text-align: justify;
    z-index: 1;
    color: black; }
    @media (max-width: 768px) {
      .non__Parallax p:first-child {
        font-size: 0.8em; } }
  .non__Parallax h3 {
    text-align: center;
    z-index: 1;
    font-weight: 300; }
    @media (max-width: 768px) {
      .non__Parallax h3 {
        font-size: 1.563em; } }
  .non__Parallax h4 {
    text-align: center; }
    @media (max-width: 768px) {
      .non__Parallax h4 {
        font-size: 1.25em; } }

.parallax__Name, .parallax__Skill, .parallax__Music, .parallax__MusicWork, .parallax__ContactMe {
  display: flex;
  flex-flow: column nowrap;
  margin: 2rem;
  color: white; }
  .parallax__Name h1, .parallax__Skill h1, .parallax__Music h1, .parallax__MusicWork h1, .parallax__ContactMe h1 {
    padding: 1rem;
    text-align: center;
    z-index: 1;
    opacity: 0;
    transform: translateX(calc((100vw - 100%) / 2 - 100%)); }
    .parallax__Name h1.animate, .parallax__Skill h1.animate, .parallax__Music h1.animate, .parallax__MusicWork h1.animate, .parallax__ContactMe h1.animate {
      transform: translateX(0);
      opacity: 1.0;
      transition: opacity 2.5s ease, transform 1.5s ease; }

.parallax__ContactMe {
  width: 750px; }
  @media (max-width: 1024px) {
    .parallax__ContactMe {
      width: 75%; } }
  @media (max-width: 768px) {
    .parallax__ContactMe {
      width: 80%; } }
  @media (max-width: 425px) {
    .parallax__ContactMe {
      width: 95%; } }

.parallax__Container {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  z-index: -1;
  transform: translateZ(0); }
  .parallax__Container.--skill {
    filter: opacity(0.8);
    transform: scale(1.01); }
  .parallax__Container.--name {
    filter: opacity(0.9) grayscale(100%);
    transform: scale(1.01); }
  .parallax__Container.--music {
    filter: opacity(0.8) grayscale(10%);
    transform: scale(1.01); }
  .parallax__Container.--contactMe {
    filter: opacity(0.7) blur(4px);
    transform: scale(1.01); }
  @media (max-width: 1024px) {
    .parallax__Container {
      background-attachment: scroll; } }

.section1__AngleRight {
  fill: white;
  margin-left: 2rem;
  transition: margin-left 0.5s, transform 0.7s; }
  .section1__AngleRight.animate {
    margin-left: 4rem;
    transform: scale(2) rotate(360deg);
    fill: #ff6666; }

.outLink {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.8rem 0 0 0; }

.outlinks__Container {
  text-align: justify;
  margin-right: auto;
  display: flex;
  flex-flow: column nowrap; }
  .outlinks__Container.--linkedin__Container {
    margin-top: 2.5rem; }
  .outlinks__Container.--vidcredit__Container {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem 1rem 0.5rem 0; }
    .outlinks__Container.--vidcredit__Container .outlink__Title {
      color: #6666ff; }
    @media (max-width: 768px) {
      .outlinks__Container.--vidcredit__Container .outlink__Title {
        width: auto; }
      .outlinks__Container.--vidcredit__Container .section1__AngleRight {
        display: none; } }

.experience__Tools {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  cursor: crosshair; }
  .experience__Tools .tools:last-of-type .tools__Bar {
    display: none; }
  .experience__Tools .tools__Bar {
    height: 8px;
    width: 8px;
    border-radius: 8px;
    background: white;
    margin-left: 0.8rem; }
    @media (max-width: 768px) {
      .experience__Tools .tools__Bar {
        display: none; } }

.tools {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-right: 0.8rem; }

.tools__subHeading {
  margin-bottom: 2rem; }
  @media (max-width: 768px) {
    .tools__subHeading {
      font-size: 0.8em; } }

.musicWork__title {
  margin-top: 0;
  color: #ff6666; }

.tools__Title {
  font-weight: 300;
  font-style: italic; }
  @media (max-width: 768px) {
    .tools__Title {
      font-size: 0.8em; } }

.outlink__Title {
  text-align: justify;
  z-index: 1;
  width: 8rem;
  font-weight: 300;
  font-style: italic; }
  @media (max-width: 768px) {
    .outlink__Title {
      font-size: 0.8em; } }

.contactMe__legend {
  padding: 0 1rem; }
  @media (max-width: 768px) {
    .contactMe__legend h3 {
      font-size: 1.563em; } }

@keyframes swap-bg-image {
  0% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@keyframes mask-on {
  0% {
    background-color: #262626; }
  100% {
    background-color: transparent; } }

.Footer__container {
  background: #1a1a1a;
  text-align: center; }

.Footer__copyright {
  display: inline-block;
  margin: 4rem auto;
  color: #666666; }

.Overlay__container {
  opacity: 0;
  z-index: -1; }
  @media (max-width: 768px) {
    .Overlay__container {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #696969;
      transition: opacity 2s ease-out;
      opacity: 0;
      z-index: -1; }
      .Overlay__container.--overlay {
        opacity: 0.6;
        transition: opacity 2s ease-out;
        z-index: 2; } }

.notification {
  position: fixed;
  right: 0;
  bottom: 0;
  display: none;
  margin: 0.5rem;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #6666ff, #159f94);
  color: white;
  border-left: 4px solid #04f804;
  width: 300px;
  height: 50px; }
  @media (max-width: 425px) {
    .notification {
      width: 100%;
      margin: 0;
      height: 80px;
      border-left: none;
      transform: translateY(100%); } }
  .notification.popUp {
    display: flex;
    animation: show-notification 3.5s ease-in;
    animation-fill-mode: forwards; }
    @media (max-width: 425px) {
      .notification.popUp {
        animation: show-notification-mobile 3.5s ease-in;
        animation-fill-mode: forwards; } }

@keyframes show-notification {
  0% {
    opacity: 0;
    bottom: 0; }
  70% {
    opacity: 1; }
  100% {
    bottom: 80%;
    opacity: 0; } }

@keyframes show-notification-mobile {
  0% {
    transform: translateY(100%); }
  50% {
    transform: translateY(0%); }
  100% {
    transform: translateY(100%); } }

.ContactMe__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center; }

.form__input-container {
  width: 100%;
  margin: 0 0 1rem; }

.form__input-validation {
  color: #ff6666;
  text-align: left;
  margin: 0 0 1rem 0;
  width: 100%; }
  @media (max-width: 768px) {
    .form__input-validation {
      font-size: 0.8em; } }

.Contact__name-input, .Contact__email-input, .Contact__body-text-area {
  border: none;
  width: 100%;
  padding: 1rem;
  background: transparent;
  color: white;
  border: 1px solid white;
  font-weight: 300; }
  .Contact__name-input::placeholder, .Contact__email-input::placeholder, .Contact__body-text-area::placeholder {
    color: white;
    opacity: 1;
    /* Firefox */ }

.Contact__body-text-area {
  height: 300px; }

.ContactMe__submit-button {
  padding: 1rem 2.5rem;
  letter-spacing: 0.1rem;
  color: white;
  outline: none;
  border: none;
  background: linear-gradient(45deg, #6666ff, #159f94, #ffff66);
  transition: all 0.3s ease;
  cursor: pointer;
  background-size: 400% 400%; }
  .ContactMe__submit-button.--disabled {
    background: grey; }
  .ContactMe__submit-button:hover {
    animation: gradient 4s ease-in-out infinite; }
  @media (max-width: 768px) {
    .ContactMe__submit-button {
      font-size: 0.8em; } }

@keyframes gradient {
  50% {
    background-position: 100% 0; } }
