.notification {
    position: fixed;
    right: 0;
    bottom: 0;
    display: none;
    margin: 0.5rem;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, $color-blue-light,$color-teal-light);
    color: white;
    border-left: 4px solid rgb(4, 248, 4);
    width: calc(100vw * 0.15);
    height: calc(100vh * 0.05);
    
    &.popUp {
        display: flex;
        animation: show-notification 3.5s ease-in;
        animation-fill-mode: forwards;
    }
}

@keyframes show-notification {
    0% { opacity: 0; bottom: 0;}
    70% {opacity: 1;}
    100% { bottom: 80%; opacity: 0;}
}