.notification {
    position: fixed;
    right: 0;
    bottom: 0;
    display: none;
    margin: 0.5rem;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, $color-blue-light,$color-teal-light);
    color: white;
    border-left: 4px solid rgb(4, 248, 4);
    width: 300px;
    height: 50px;
    
    @include mobile {
        width: 100%;
        margin: 0;
        height: 80px;
        border-left: none;
        transform: translateY(100%)
    }

    &.popUp {
        display: flex;
        @include notification(show-notification);

        @include mobile {
            @include notification(show-notification-mobile);
        }
    }
}

@keyframes show-notification {
    0% { opacity: 0; bottom: 0;}
    70% {opacity: 1;}
    100% { bottom: 80%; opacity: 0;}
}

@keyframes show-notification-mobile {
    0% { transform: translateY(100%)}
    50% {transform: translateY(0%)}
    100% { transform: translateY(100%)}
}

