@import '../globals/globals';

* {
    font-family: Merriweather, "Trebuchet MS", Arial, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    margin: 0;
    padding: 0;
    line-height: 1.45;
    font-size: 1em;
  }

  //Components

  @import '../../containers/navbar/navbar';
  @import '../../containers/body/body';
  @import '../../containers/footer/footer';
  @import '../../containers/overlay/overlay.scss';
  @import '../../containers/notification/notification';
  @import '../../containers/contact-form/contact-form';
  
